.login-form-container {
  position: fixed;
  top: -105%;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.login-form-container.active {
  top: 0;
  opacity: 1;
}

.login-form-container form {
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: #fff;
  border: var(--border);
  text-align: center;
  width: 40rem;
}

.login-form-container form .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

.login-form-container form h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.login-form-container form .box {
  margin: 0.7rem 0;
  width: 100%;
  text-transform: none;
  color: var(--black);
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border: var(--border);
  border-radius: 0.5rem;
}

.login-form-container form p {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.login-form-container form p a {
  color: var(--yellow);
  text-decoration: underline;
}

.login-form-container #close-login-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  color: var(--black);
  cursor: pointer;
}

.home {
  padding-top: 10rem;
  text-align: center;
  overflow-x: hidden;
}

.home h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  color: var(--black);
}

.home img {
  width: 100%;
  margin: 1rem 0;
}
